<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="SCIO" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
      <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5p | %t | %c | %m%n</pattern>
      </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
  </appender>
  <logger name="scio.core" level="INFO"/>
  <root level="INFO">
    <appender-ref ref="SCIO"/>
  </root>
</configuration>
